rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow anyone to READ admin images
    // an authenticated user can WRITE images
    match /adminImages/{imageId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    // Allow anyone to READ profile images
    // an authenticated user can WRITE images
    match /profileImages/{imageId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    // Users can only read/write their own data
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Deny all other access
    match /{document=**} {
        allow read, write: if false;
    }
  }
} 