#___gcse_0 {
  transition: all 300ms !important;
  width: 55% !important;
  margin-bottom: 5px !important;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.3));
  &:focus {
    background-color: white !important;
  }
}
.dark #___gcse_0 {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.05));
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.3));

  transition: all 300ms !important;
  width: 55% !important;
  &:focus {
    background-color: white !important;
  }
}

.dark .gsc-control-cse {
  background-color: white !important;
  color: black !important;
  border: 1px solid white !important;
}

.dark .gsc-completion-container {
  background-color: white !important;
  color: black !important;
  border: none !important;
  padding: 1rem 1rem !important;
  &:hover {
    background-color: white !important;
    color: black !important;
  }
}
.gsc-completion-container {
  color: black !important;
  border: none !important;
  padding: 1rem 1rem !important;
  width: 108.5% !important;
  margin-left: -12px !important;
  margin-top: -10px !important;
  padding-top: 50px !important;

  &:hover {
    background-color: white !important;
    color: black !important;
  }
}

.gsc-input-box {
  background-color: white !important;
  padding: 8px 1rem !important;
  border: none !important;
}

.dark .gsc-input-box {
  background-color: white !important;
}

.dark #gs_tti50 input {
  background-color: white !important;
  color: black !important;
}

#gs_tti50 input {
  background-color: white !important;
  color: black !important;
}

.gsc-search-button .gsc-search-button-v2 {
  background-color: white !important;
  padding: 18px 1.8rem !important;
  /* border-radius: 0 50px 50px 0 !important; */
  border: none !important;
  transition: all 300ms !important;

  &:hover {
    background-color: #ffffff !important;
  }
}

.gsc-search-button .gsc-search-button-v2 svg {
  fill: black !important;
}

.dark .gsc-search-button .gsc-search-button-v2 svg {
  fill: black !important;
}

.dark .gsc-search-button .gsc-search-button-v2 {
  background-color: white !important;

  &:hover {
    background-color: #464d5c !important;
  }
}

.table.gsc-search-box td.gsc-input {
  padding-right: 0px !important;
}

.gsc-control-searchbox-only {
  margin-top: 3px !important;
}

.gsc-search-button {
  margin-left: -12px !important;
}

.gssb_a,
.gssb_a td {
  line-height: 25px !important;
  margin-top: 12px !important;
}
.gssb_a,
.gssb_a td:hover {
  width: 20% !important;
}

.temporary-search {
  transition: all 300ms !important;
  padding: 2px 1px !important;
  border-radius: 0.5rem !important;
}
.temporary-search .dark {
  background-color: black !important;
}

.temporary-search .ant-input-wrapper {
  background-color: white !important;
  border-radius: 0.5rem !important;

  overflow: hidden !important;
  padding: 0 0px !important;
}
.temporary-search .dark .ant-input-wrapper .anticon-search {
  background-color: black !important;
  color: black !important;
}

.temporary-search .ant-input {
  background-color: white !important;
  height: 40px !important;
  font-size: 16px !important;
  color: black !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0px 12px !important;
}
.temporary-search .dark .ant-input {
  background-color: black !important;
}

.temporary-search .ant-input-search-button {
  height: 44px !important;
  width: 60px !important;
  background-color: white !important;
  border: none !important;
  box-shadow: none !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-left: -1px !important;
}
.temporary-search .dark .ant-input-search-button {
  background-color: black !important;
}

.temporary-search .ant-input-search-button .anticon-search {
  color: #4285f4 !important;
  font-size: 18px !important;
}
.temporary-search .dark .ant-input-search-button .anticon-search {
  color: white !important;
}

.temporary-search .dark .ant-input,
.temporary-search .dark .ant-input-search-button {
  background-color: black !important;
  color: white !important;
}

.temporary-search .ant-input-search-button:hover {
  background-color: #f8f9fa !important;
}

.temporary-search.dark .ant-input-search-button:hover {
  background-color: black !important;
}

.temporary-search .ant-input::placeholder {
  color: #70757a !important;
  opacity: 1 !important;
}

.ant-notification-bottomRight.ant-notification-stack>.ant-notification-notice-wrapper {
  bottom: 23px;
  right: 40px;
}

.ant-notification-notice-message {
  color: white !important;
}
