/* Custom Toast container styles */
.custom-toast-container {
  z-index: 9999;
  font-family: 'Arial', sans-serif;
  margin-top: 10px;
}

.Toastify__toast--error {
  border: 1px solid #EB5757;
  border-radius: 50px !important;
  background: #FAE1E2 !important;
}



.Toastify__toast--success {
  border: 1px solid #ffffff !important;
  border-radius: 50px !important;
  background: #F0F9FA !important;
}

.Toastify__toast > button>  svg {
   margin-top: 15px;
   margin-right: 5px;
}

.Toastify__toast--warning {
  border-radius: 50px !important; 
}

.dark :where(.css-dev-only-do-not-override-1kf000u).ant-radio-button-wrapper {
    position: relative;
    display: inline-block;
    height: 32px;
    margin: 0;
    padding-inline: 15px;
    padding-block: 0;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 30px;
    background: #28283a;
     border: 0px solid black;
}

.dark :where(.css-dev-only-do-not-override-1kf000u).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    z-index: 1;
    color: #4096FF;
    background: #28283a;
    border-color: #28283a;
}
:where(.css-dev-only-do-not-override-1kf000u).ant-btn-variant-outlined, :where(.css-dev-only-do-not-override-1kf000u).ant-btn-variant-dashed {
    border-color: transparent;
    background: #fff;
}

