@tailwind base;
@tailwind components;
@tailwind utilities;
/* style.css */
html,
body {
  overflow: hidden; /* Hide scrollbars */
  height: 100%;
}

body {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
